01-intro/practice_course/data
01-intro/practice_course/models
01-intro/homework/data
env_mlops_zoomcamp_solution

02-experiment-tracking/data
02-experiment-tracking/mlruns
02-experiment-tracking/models
02-experiment-tracking/preprocessor
02-experiment-tracking/*.db

02-experiment-tracking/homework/data
02-experiment-tracking/homework/mlruns
02-experiment-tracking/homework/output
02-experiment-tracking/homework/*.db
02-experiment-tracking/homework/artifacts_local_homework

02-experiment-tracking/running-mlflow-examples/artifacts_local
02-experiment-tracking/running-mlflow-examples/*.db